<link rel='stylesheet' href='/css/formCreateInfo.css' />
<main>
    <div class='head-title'>
        <div class='left'>
            <h1>Customers</h1>
            <ul class='breadcrumb'>
                <li>
                    <a href='#'>Dashboard</a>
                </li>
                <li><i class='fa-solid fa-chevron-right'></i></li>
                <li>
                    <a href='/customers'>Customers</a>
                </li>
                <li><i class='fa-solid fa-chevron-right'></i></li>
                <li>
                    <a class='active' href='/customers'>Create</a>
                </li>
            </ul>
        </div>
        <a href='#' class='btn-download'>
            <i class='fa-solid fa-download'></i>
            <span class='text'>Download PDF</span>
        </a>
    </div>
    <div class='table'>
        <div class='table_sidebar'>
            <div class='table_sidebar--add'>
                <button>
                    <a href='/customers'>Trở về</a>
                    <i class='fa-solid fa-rotate-left add'></i>
                </button>
            </div>
        </div>
        <form
            class='form'
            id='form-create_customer'
            method='post'
            action='/customers/create'
            enctype='multipart/form-data'
        >
            <div class='form-group'>
                <p class='form-login__title'>Add new</p>
            </div>
            <div class='profile-nav'>
                <div class='profile-nav_user'>
                    <img src='/img/google.png' alt='Loading...' class='img' />
                </div>
                <div class='form-ground__img'>
                    <input type='file' id='url_img' name='url_img' class='image' accept='png' />
                    <label for='url_img'>Avatar
                        <i class='fa-solid fa-upload'></i>
                    </label>
                </div>
            </div>
            <div class='form-input'>
                <div class='form-first'>
                    <div class='form-group'>
                        <label for='' class='label-group'>Full Name</label>
                        <input
                            type='text'
                            name='fullName'
                            id='fullName'
                            rules='require'
                            placeholder='NGUYEN VAN A'
                            aria-autocomplete='none'
                        />
                        <span class='span-message'></span>
                    </div>
                    <div class='form-group'>
                        <label for='' class='label-group'>Email</label>
                        <input
                            type='email'
                            name='email'
                            id='email'
                            rules='require|isEmail'
                            placeholder='Example@gmail.com'
                            aria-autocomplete='none'
                        />
                        <span class='span-message'></span>
                    </div>
                    <div class='form-group'>
                        <label for='' class='label-group'>Phone</label>
                        <input
                            type='phone'
                            name='phone'
                            id='phone'
                            rules='require'
                            placeholder='0123.456.789'
                            aria-autocomplete='none'
                        />
                        <span class='span-message'></span>
                    </div>
                </div>
                <div class='form-second'>
                    <div class='form-group'>
                        <label for='' class='label-group'>Address</label>
                        <input
                            type='address'
                            name='address'
                            id='address'
                            rules='require'
                            placeholder='Nhập địa chỉ hiện tại'
                            aria-autocomplete='none'
                        />
                        <span class='span-message'></span>
                    </div>
                    <div class='form-group'>
                        <label for='' class='label-group'>Password</label>
                        <input
                            type='password'
                            name='password'
                            rules='require'
                            id='password'
                            placeholder='Your password'
                        />
                        <i class='fa-solid fa-eye icon-hidden'></i>
                        <span class='span-message'></span>
                    </div>
                    <div class='form-group'>
                        <label for='' class='label-group'>Confirm</label>
                        <input
                            type='password'
                            name='confirmPwd'
                            rules='require|isConfirmed'
                            id='confirm-pwd'
                            placeholder='Your password'
                        />
                        <i class='fa-solid fa-eye icon-hidden'></i>
                        <span class='span-message'></span>
                    </div>

                </div>
            </div>
            <div class='form-group'>
                <button class='submit' type='submit'>Submit</button>
            </div>

        </form>
    </div>

</main>
<script src='/js/validate.js'></script>
<script src='/js/main.js'></script>
<script>
    validator('#form-create_customer'); handleImage();
</script>