<link rel='stylesheet' href='/css/login.css' />
<form class='form-register' id='form-register' method='post' action='/auth/v1/register'>
    <div class='form-group'>
        <p class='form-login__title'>Signup</p>
    </div>
    <div class='form-group'>
        <label for='' class='label-group'>Full Name</label>
        <input
            type='text'
            name='fullName'
            id='fullName'
            rules='require'
            placeholder='NGUYEN VAN A'
            aria-autocomplete='none'
        />
        <span class='span-message'></span>
    </div>
    <div class='form-group'>
        <label for='' class='label-group'>Email</label>
        <input
            type='email'
            name='email'
            id='email'
            rules='require|isEmail'
            placeholder='Example@gmail.com'
            aria-autocomplete='none'
        />
        <span class='span-message'></span>
    </div>
    <div class='form-group'>
        <label for='' class='label-group'>Password</label>
        <input type='password' name='password' rules='require' id='password' placeholder='Your password' />
        <i class='fa-solid fa-eye icon-hidden'></i>
        <span class='span-message'></span>
    </div>
    <div class='form-group'>
        <label for='' class='label-group'>Confirm</label>
        <input
            type='password'
            name='confirmPwd'
            rules='require|isConfirmed'
            id='confirm-pwd'
            placeholder='Your password'
        />
        <i class='fa-solid fa-eye icon-hidden'></i>
        <span class='span-message'></span>
    </div>
    <div class='form-signup'>
        <p>Already have an account?<a href='/auth/login'>Login</a></p>
    </div>
    <div class='form-group'>
        <button class='submit' type='submit'>Signup</button>
    </div>
</form>
<script src='/js/validate.js'></script>
<script>
    validator('#form-register')
</script>