<div class='branch'>
    <div class='branch-avatar'>
        <img src='/img/store/store.png' alt='' />
    </div>
    <div class='branch-content'>
        <div class='group-address'>
            <a href=''>Cần thơ </a>>>
            <a href=''>Quận ninh kiều</a>
        </div>
        <div class='dish'>
            <p>Pizza Hut - Big C Cần Thơ</p>
        </div>
        <div class='categories'>
            <a href=''>Quán ăn </a>-
            <a href=''>Quán lẩu </a>-
            <a href=''>Món hàn</a>
            -
            <a href='' class='branchs'>Chi nhanh</a>
        </div>

        <ul class='list-rate'>
            <li class='total'>
                <p>6.8</p>
            </li>
            <li>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>

            <li>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>
            <li>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>
            <li>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>
            <li>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>
            <li class='total-comment'>
                <h3>7.5</h3>
                <p>Phục vụ</p>
            </li>
        </ul>
        <div class='detail-address'>
            <i class='fa-solid fa-location-dot'></i>
            <a>287 Nguyễn Văn Cừ, P. An Hòa, Quận Ninh Kiều, Cần Thơ</a>
        </div>

        <div class='activities'>
            <i class='fa-solid fa-clock'></i>
            <p>Đang mở cửa</p>
            <a>08:00 - 23:00 </a>
        </div>
        <div class='price'>
            <i class='fa-solid fa-tag'></i>
            <a>20.000đ - 50.000đ </a>
        </div>
    </div>
</div>
<div class='nav'>
    <ul>
        <li>
            <a href=''>
                <i class='fa-solid fa-phone'></i>
                <p>Gọi điện thoại</p>
            </a>

        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-rectangle-list'></i>
                <p>Bộ sưu tập</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-comment'></i>
                <p>Bình luận</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-camera'></i>
                <p>Hình ảnh</p>
            </a>
        </li>
        <li>
            <a href=''>
                <i class='fa-solid fa-share'></i>
                <p>Chia sẻ</p>
            </a>
        </li>
    </ul>
</div>
<div class='container-comment'>
    <div class='comment-main'>
        <div class='filter'>
            <div class='detail'>
                <b>Mới nhất</b>
                <p>175</p>
            </div>
        </div>
        <div class='list-comment'>
            <div class='detail'>
                <div class='infomation'>
                    <div class='infomation-customer'>
                        <img src='/img/store/store.png' alt='' />
                        <div class='customer-detail'>
                            <b> Thanh toan</b>
                            <p class='time'> <i class='fa-solid fa-clock'></i>9/12/2021 21:44</p>
                        </div>
                    </div>
                    <div class='total-rate'>2.6</div>
                </div>
                <div class='wrap-content'>
                    <h3 class='title'>
                        Đây la tiêu đề
                    </h3>
                    <p class='content'>

                        Đồ ăn trên line chuyền đa dạng lại tươi ngon, từ bò tới hải sản... không gian sang trọng thoải
                        mái lại còn đc bonus sự phục vụ tận tâm tình của các b phục vụ :)) nói chung là 10/10
                    </p>
                </div>
                <ul class='like'>
                    <li>
                        <i class='fa-solid fa-heart'></i>
                        <p>Like</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-comment'></i>
                        <p>Bình luận</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-triangle-exclamation'></i>
                        <p>Cảnh báo</p>
                    </li>
                </ul>
            </div>
            <div class='detail'>
                <div class='infomation'>
                    <div class='infomation-customer'>
                        <img src='/img/store/store.png' alt='' />
                        <div class='customer-detail'>
                            <b> Thanh toan</b>
                            <p class='time'> <i class='fa-solid fa-clock'></i>9/12/2021 21:44</p>
                        </div>
                    </div>
                    <div class='total-rate'>2.6</div>
                </div>
                <div class='wrap-content'>
                    <h3 class='title'>
                        Đây la tiêu đề
                    </h3>
                    <p class='content'>

                        Đồ ăn trên line chuyền đa dạng lại tươi ngon, từ bò tới hải sản... không gian sang trọng thoải
                        mái lại còn đc bonus sự phục vụ tận tâm tình của các b phục vụ :)) nói chung là 10/10
                    </p>
                </div>
                <ul class='like'>
                    <li>
                        <i class='fa-solid fa-heart'></i>
                        <p>Like</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-comment'></i>
                        <p>Bình luận</p>
                    </li>
                    <li>
                        <i class='fa-solid fa-triangle-exclamation'></i>
                        <p>Cảnh báo</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class='load-more'>
            <a href=''>Xem Thêm bình luận</a>
        </div>
    </div>
    <div class='parameter-rate'>
        <h3 class='total-conment'>
            175 bình luận đã chia sẻ
        </h3>
        <div class='rating-parameter'>
            <div class='user-rating'>
                <span class='heading'>User Rating</span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star checked'></span>
                <span class='fa fa-star'></span>
                <p>4.1 average based on 254 reviews.</p>
            </div>
            <div class='row'>
                <div class='detail-row'>
                    <div class='side'>
                        <p>Vị trí</p>
                    </div>
                    <div class='middle'>
                        <div class='bar-container'>
                            <div class='bar-5' style='width: 80%;'></div>
                        </div>
                    </div>
                    <div class='side right'>
                        <p>8.5</p>
                    </div>
                </div>
                <div class='detail-row'>
                    <div class='side'>
                        <p>Giá cả</p>
                    </div>
                    <div class='middle'>
                        <div class='bar-container'>
                            <div class='bar-4' style='width: 80%;'></div>
                        </div>
                    </div>
                    <div class='side right'>
                        <p>8.6</p>
                    </div>
                </div>
                <div class='detail-row'>
                    <div class='side'>
                        <p>Chất lượng</p>
                    </div>
                    <div class='middle'>
                        <div class='bar-container'>
                            <div class='bar-3' style='width: 80%;'></div>
                        </div>
                    </div>
                    <div class='side right'>
                        <p>8.6</p>
                    </div>
                </div>
                <div class='detail-row'>
                    <div class='side'>
                        <p>Phục vụ</p>
                    </div>
                    <div class='middle'>
                        <div class='bar-container'>
                            <div class='bar-2' style='width: 80%;'></div>
                        </div>
                    </div>
                    <div class='side right'>
                        <p>8.6</p>
                    </div>
                </div>
                <div class='detail-row'>
                    <div class='side'>
                        <p>Không gian</p>
                    </div>
                    <div class='middle'>
                        <div class='bar-container'>
                            <div class='bar-1' style='width: 80%;'></div>
                        </div>
                    </div>
                    <div class='side right'>
                        <p>8.6</p>
                    </div>
                </div>
            </div>
        </div>

        <div class='rating-box'>
            <b>8.1 điểm </b>
            <p>-</p>
            <p> Khá tốt</p>
        </div>
        <button class='button-comment'>
            Bình luận
        </button>
    </div>
</div>
<div class="wrap-map">
    {{> map}}
</div>
<script>
    const addComment = document.querySelector('.button-comment');
    const modalComment = document.querySelector('.modal-comment');
    addComment.addEventListener('click',() => {
        modalComment.style.display = 'flex';
    });
    console.log(addComment,modalComment);
</script>