<div class='logo'>
    <p>NOE</p>
    <b>.</b>
</div>
<nav>
    <ul class='nav-menu'>
        <li class='nav-item'><a href='#'>HOME</a></li>
        <li class='nav-item'><a href='#'>INGREDIENTS</a></li>
        <li class='nav-item'><a href='#'>SOMETHINGS</a></li>
        <li class='nav-item'><a href='#'>NEWS</a></li>
        <li class='nav-item'><a href='#'>ABOUT US</a></li>
    </ul>
</nav>
<div class='search'>
    <input type='text' class='search-input' placeholder='search....' />
    <i class='fa-solid fa-magnifying-glass icon-search'></i>
</div>
<div class='signup'>
    <i class='fa-solid fa-user icon-user'></i>
    <a href='/auth/login'>Login</a>
</div>