<div class='logo'>
    <p>NOE</p>
    <b>.</b>
</div>
<nav>
    <ul class='nav-menu'>
        <li class='nav-item'><a href='#'>HOME</a></li>
        <li class='nav-item'><a href='/cantho'>ẨM THỰC CẦN THƠ</a></li>
        <li class='nav-item'><a href='#'>SOMETHINGS</a></li>
        <li class='nav-item'><a href='#'>TIN TỨC</a></li>
        <li class='nav-item'><a href='#'>ABOUT US</a></li>
    </ul>
</nav>
<div class='search'>
    <input type='text' class='search-input' placeholder='search....' />
    <i class='fa-solid fa-magnifying-glass icon-search'></i>
</div>
<ul class='signup'>
    <li>
        <a href='/customers/cart' class='cart'>
            <i class='fa-solid fa-cart-shopping'></i>
            <div class='qty_cart'>{{countArray cart.detailCart}}</div>
        </a>
    </li>
    <li class='signup__account'>
    </li>
</ul>
<script src='/js/main.js'></script>
<script>getNameUser()</script>