<div class='profile-nav'>
    <div class='profile-nav_user'>
        <div class='profile-nav__avatar'>
            <img src='/img/user/{{customer.url_img}}' alt='Loading...' class='img' />
        </div>
        <div class='profile-nav__name'>{{customer.fullName}}</div>
    </div>
    <div class='form-ground__img'>
        <input type='file' id='url_img' name='avatar_user' class='image' accept='png' />
        <label for='url_img'>Upload
            <i class='fa-solid fa-upload'></i>
        </label>
    </div>
    <div class='profile-nav_category'>
        <ul>
            <li>MOn an</li>
            <li>MOn an</li>
            <li>MOn an</li>
        </ul>
    </div>
</div>