<section id="sidebar">
    <a href="#" class="brand">
        <i class="fa-solid fa-face-smile"></i>
        <span class="brand-text">AdminHub</span>
    </a>
    <ul class="sidebar-menu top">
        <li class="{{activeSidebar 'dashboard' active}}">
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span class="text">Dashboard</spanclas>
            </a>
        </li>
         <li class="{{activeSidebar 'staff' active}}" >
            <a href="/staff">
                <i class="fa-solid fa-users"></i>
                <span class="text">Staff</span>
            </a>
        </li>
          <li class="{{activeSidebar 'customers' active}}">
            <a href="/customers">
               <i class="fa-solid fa-user-group"></i>
                <span class="text">Customers</span>
            </a>
        </li>
    </ul>
    <ul class="sidebar-menu">
        <li>
            <a href="#" class="logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="text">Log out</spanclas>
            </a>
        </li>
    </ul>
</section>
