<link rel='stylesheet' href='/css/formCreateInfo.css' />
<main>
    <div class='head-title'>
        <div class='left'>
            <h1>Branchs</h1>
            <ul class='breadcrumb'>
                <li>
                    <a href='#'>Dashboard</a>
                </li>
                <li><i class='fa-solid fa-chevron-right'></i></li>
                <li>
                    <a href='/branchs'>Branchs</a>
                </li>
                <li><i class='fa-solid fa-chevron-right'></i></li>
                <li>
                    <a class='active' href='/customers'>Info</a>
                </li>
            </ul>
        </div>
        <a href='#' class='btn-download'>
            <i class='fa-solid fa-download'></i>
            <span class='text'>Download PDF</span>
        </a>
    </div>
    <div id='contain-branch'>
        {{> detailbranch}}
    </div>
</main>
<script src="/js/validate.js"></script>
<script src="/js/main.js"></script>
<script src="/js/manage.js"></script>
<script>
    getAddress(); validator('#form-create_customer'); handleImage();
</script>